---
import type { CollectionEntry } from 'astro:content';
import { postUrlFromSlug } from '@utils/posts';

interface Props {
  post: CollectionEntry<'blog'> | Promise<CollectionEntry<'blog'>>;
}

const { post: postProp } = Astro.props;
const post = await postProp;
const BASE = import.meta.env.BASE_URL;
const href = `${BASE}${postUrlFromSlug(post.id).slice(1)}`;
---
<a href={href} style={post.data.accent_color ? `color: ${post.data.accent_color};` : undefined}>
  {post.data.icon && <i class={`${post.data.icon} me-1`} aria-hidden="true"></i>}
  {post.data.title}
</a>
